.board-card {
  padding: 50px;
  display: inline-block;
}

.game-container {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-gap: 1px;
  margin: 50px 50px 0;  /* top | right&left | bottom*/
}

.grid-cell {
  height: 40px;
  border-radius: 2px;
  background-color: #92a8a7;
  text-align: center;
  display: inline-block;
}

.grid-cell-clicked {
  height: 40px;
  border-radius: 2px;
  background-color: #aec3c2;
  text-align: center;
  display: inline-block;
}

.grid-cell-clickable {
  height: 40px;
  border-radius: 2px;
  background-color: rgba(80, 183, 74, 0.85);
  text-align: center;
  display: inline-block;
}
.grid-cell-clickable:hover {
  background-color: rgba(47, 119, 47, 0.85);
}

.grid-image {
  height: 30px;
  padding-top: 10px;
}

.start-image {
  height: 50px;
  margin-top: 20px;
  float: left;
}

.end-image {
  height: 55px;
  float: right;
}

:host ::ng-deep .ui-card {
  width: 500px;
  background: rgb(192, 213, 212);
  padding: 5px;
}
