<p-card class="board-card" header="Minesweeper" subheader={{gameStatus}}>

  <p-header>
    <img src="assets/banner.png">
  </p-header>

  <div class="game-container">
    <div class="grid-container">
      <div class="grid-cell" *ngFor="let item of itemArray; let i = index"
           (click)="clickTile(i)" [ngClass]="itemArray[i] == '' || itemArray[i] == flagIcon  ? 'grid-cell' : 'grid-cell-clicked'" (contextmenu)="markTile(i)" >
        <img class="grid-image" src={{item}}>
      </div>
    </div>
  </div>

  <p-footer>
    <button pButton type="button" label="Start new game" class="ui-button-raised ui-button-danger" (click)="initBoard()"></button>
  </p-footer>

</p-card>

<nav>
  <a routerLink="/easteregg">
    <img src="assets/rabbit.png" style="height: 50px">
  </a>
</nav>

