.board-card {
  padding: 50px;
  display: inline-block;
}

.game-container {
  background: #c0d5d4;
  padding: 50px;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-gap: 1px;
}

.grid-cell {
  height: 40px;
  border-radius: 2px;
  background-color: dimgray;
  text-align: center;
  display: inline-block;
}
.grid-cell:hover {
  background-color: #454545;
}

.grid-cell-clicked {
  height: 40px;
  border-radius: 2px;
  background-color: #c1c1c1;
  text-align: center;
  display: inline-block;
}
.grid-cell-clicked:hover {
  background-color: #c1c1c1;
}

.grid-image {
  height: 30px;
  padding-top: 10px;
}
